/* Dashboard Specific CSS */

/* body {
  background-color: #708CAE;
} */

div.metrics {
  align-content: center;
  text-align: center;
}

div.metric-single {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.metric-single span.metric-value {
  font-size: 150%;
}

div.metric-negative {
  color: #f15152;
}

div.metric-neutral {
  color: #f5a65b;
}

div.metric-positive {
  color: #4d7c8a;
}

div#container {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 999;
  background-color: #fff;
}

div#headline {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

div#overview_panel {
  padding-top: 10px;
  padding-bottom: 20px;
}

div.combochart {
  width: 100%;
  min-height: 400px;
}

div.barchart {
  width: 100%;
  min-height: 300px;
  z-index: -999;
  overflow: hidden;
}

div.chart {
  width: 100%;
  min-height: 300px;
}

div.footer-copyright {
  color: #fff;
  font-size: smaller;
}

div.footer-copyright a {
  color: #fff;
}
