/* Dashboard Specific CSS */

nav.navbar {
  margin-bottom: 1.5rem;
}
div.metrics {
  align-content: center;
  text-align: center;
}

div.metric-single {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.metric-single span.metric-value {
  font-size: 150%;
}

div.metric-negative {
  color: #f15152;
}

div.metric-neutral {
  color: #f5a65b;
}

div.metric-positive {
  color: #4d7c8a;
}

div#overview_panel {
  padding-top: 10px;
  padding-bottom: 20px;
}

div.barchart {
  width: 100%;
  min-height: 400px;
}

div.chart {
  width: 100%;
  min-height: 200px;
}

div.footer-copyright {
  color: #fff;
  font-size: smaller;
}

div.footer-copyright a {
  color: #fff;
}
